nav{
    font-family:Lato, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

header p{
    color: #e9e9e9;
    font-weight: 600;
}

h1{
    font-size: 63px;
    color: #303030;
    padding:16px;
    color: white;
    text-align: center;
}
h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600px;
}